In [2]:
import pandas as pd
df = pd.read_csv('weather.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df['temperature'].max()

'Sunny'

In [7]:
df['day'].min()

'1/1/2017'

In [9]:
df['windspeed'].mean()

4.666666666666667

In [10]:
df['temperature'].std()

3.8297084310253524

In [11]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [12]:
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [16]:
df[df['temperature']>=30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [28]:
df.set_index('temperature',inplace=True)

                  day  windspeed  event
temperature
32           1/1/2017          6   Rain
35           1/2/2017          7  Sunny
28           1/3/2017          2   Snow
24           1/4/2017          7   Snow
32           1/5/2017          4   Rain
31           1/6/2017          2  Sunny

In [31]:
df.loc[32]

                  day  windspeed event
temperature
32           1/1/2017          6  Rain
32           1/5/2017          4  Rain

In [36]:
df.reset_index(inplace=True)

In [37]:
df

   temperature       day  windspeed  event
0           32  1/1/2017          6   Rain
1           35  1/2/2017          7  Sunny
2           28  1/3/2017          2   Snow
3           24  1/4/2017          7   Snow
4           32  1/5/2017          4   Rain
5           31  1/6/2017          2  Sunny